
.bg-purple {
  background-color: #6a0dad;
}

.text-purple {
  color: #6a0dad;
}

.btn-purple {
  background-color: #8e44ad;
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: #732d91;
  color: white;
}
.footer-contact {
 flex: 1 1 250px; 
 padding: 10px; 
 text-align: right
}
.footer-address {
  flex: 1 1 250px; 
  padding: 10px;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}
.round {
  border-radius: 50%;
}
